navigation-bar {
    -ios-tint-color: #ffffff;
}

navigation-bar title {
    color: #6b1012;
}

toolbar {
    -ios-tint-color: #ffffff;
}

tab-bar {
    background-color: @colorTab;
}

tab-bar-item {
    color: @colorTab;
    font-size: 12px;
}

tab-bar-item:selected {
    color: @colorTabSelected;
    font-size: 12px;
}

segmented-control {
    -ios-tint-color: #ffffff;
}

table-view {
    separator-style: none;
    background-color: #ffffff;
    color: #777777;
}

#custom_player_son_title {
    font-size: 25px;
}

#list_title{
    color: #555555;
}

#list_title:highlighted{
    color: #252525;
}

#list_subtitle {
    color: #777777;
}

#list_subtitle:highlighted {
    color: #666666;
}

#table-view-headerfooter-view{
    color: #6b1012;
    background-color: #ffffff;
    border-bottom: 1px solid #6b1012;
}

#short_text {
    color: #777777;
    background-color: #ffffff;
    text-align: left;
}

#long_text {
    color: #777777;
    background-color: #ffffff;
    text-align: left;
}

#player2 {
    background-color: #ffffff;
}

#player3 {
    background-color: #ffffff;
}

#player4 {
    background-color: #ffffff;
}

#player5 {
    background-color: #ffffff,
}